<div class="wrapper">
  <div class=" car-detail">
    <aside class="car-detail__specs">
      <div class="block1">
        <h3>Specs</h3>
        <h1 class="text--red">123, 644 km/h</h1>
      </div>
      <div class="block1">
        <h3>Specs</h3>
        <h1 class="text--red">123.0 km/h</h1>
      </div>
      <div class="block1">
        <h3>Specs</h3>
        <h1 class="text--red">422, 000 watt</h1>
      </div>
    </aside>
    <div class="main">
      <span class="car-detail__title">EXPLORER</span>
      <img src="./assets/images/explorer-side.png" alt="">
    </div>
    <aside class="car-detail__specs text--right">
      <div class="block right">
        <h3>Specs</h3>
        <h1 class="text--red">123.0 km/h</h1>
      </div>
      <div class="block right">
        <h3>Specs</h3>
        <h1 class="text--red">422, 000 watt</h1>
      </div>
      <div class="block right">
        <h3>Specs</h3>
        <h1 class="text--red">123.0 km/h</h1>
      </div>
    </aside>
  </div>
</div>
<div class="footer-nav">
    <a (click)="findDealer()" class="btn-main">FIND A DEALER</a>
  </div>